<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Advanced Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#keywordSearch").click(function () {
                $("#keywordSearch").addClass("active");
                $("#fileSearch").removeClass("active");
                $("#keywordRow").show();
                $("#fileRow").hide();
                $("#searchBy").val("keywords");
            });
            $("#fileSearch").click(function () {
                $("#keywordSearch").removeClass("active");
                $("#fileSearch").addClass("active");
                $("#keywordRow").hide();
                $("#fileRow").show();
                $("#searchBy").val("file");
            });
        });

        function searchIn(category) {
            var categories = ['all', 'accident', 'enterprise', 'family', 'government', 'drug', 'murder', 'social', 'other'];
            categories = categories.filter(item => item !== category);
            for (item of categories) {
                $("#" + item + "Category").removeClass("active");
            }
            $("#" + category + "Category").addClass("active");
            $("#category").val(category);
        }
    </script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse">
            <a class="navbar-brand mr-auto" href="#">Advanced Search</a>
        </div>
    </nav>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light mt-2">
    <div class="container collapse navbar-collapse">
        <a class="navbar-brand">Search in</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active" id="allCategory" onclick='searchIn("all")'>
                <a class="nav-link" href="#">All Categories</a>
            </li>
            <li class="nav-item" id="accidentCategory" onclick='searchIn("accident")'>
                <a class="nav-link" href="#">Accident</a>
            </li>
            <li class="nav-item" id="enterpriseCategory" onclick='searchIn("enterprise")'>
                <a class="nav-link" href="#">Enterprise</a>
            </li>
            <li class="nav-item" id="familyCategory" onclick='searchIn("family")'>
                <a class="nav-link" href="#">Family</a>
            </li>
            <li class="nav-item" id="governmentCategory" onclick='searchIn("government")'>
                <a class="nav-link" href="#">Government</a>
            </li>
            <li class="nav-item" id="drugCategory" onclick='searchIn("drug")'>
                <a class="nav-link" href="#">Drug</a>
            </li>
            <li class="nav-item" id="murderCategory" onclick='searchIn("murder")'>
                <a class="nav-link" href="#">Murder</a>
            </li>
            <li class="nav-item" id="socialCategory" onclick='searchIn("social")'>
                <a class="nav-link" href="#">Social/Public</a>
            </li>
            <li class="nav-item" id="OtherCategory" onclick='searchIn("other")'>
                <a class="nav-link" href="#">Other</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-4">
    <nav>
        <div class="nav nav-tabs">
            <a class="nav-item nav-link active" id="keywordSearch" href="#">Search by keywords</a>
            <a class="nav-item nav-link" id="fileSearch" href="#">Search by file</a>
        </div>
    </nav>
    <div class="form mt-4">
        <form method="post" action="{{ url_for('advance_search') }}" enctype="multipart/form-data">
            <!-- keyword -->
            <div class="form-group row" id="keywordRow">
                <label for="keywords" class="col-sm-2 col-form-label">Keywords</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="keywords" name="keywords" placeholder="Keywords (separate by space)">
                </div>
            </div>

            <!-- file -->
            <div class="form-group row" id="fileRow" style="display: none;">
                <label for="file" class="col-sm-2 col-form-label">File</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" id="file" name="file">
                </div>
            </div>

            <!-- from -->
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">From date</label>
                <div class="col">
                    <input type="text" class="form-control" name="dayFrom" placeholder="Day" value="1">
                </div>
                <div class="col">
                    <select class="form-control" name="monthFrom">
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="yearFrom" placeholder="Year" value="1990">
                </div>
            </div>

            <!-- to -->
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">To date</label>
                <div class="col">
                    <input type="text" class="form-control" name="dayTo" placeholder="Day" value="1">
                </div>
                <div class="col">
                    <select class="form-control" name="monthTo">
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="yearTo" placeholder="Year" value="2018">
                </div>
            </div>

            <!-- rpp -->
            <div class="form-group row">
                <label for="resultsPerPage" class="col-sm-2 col-form-label">Results per page</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="resultsPerPage" name="resultsPerPage"
                           placeholder="How many results displayed in one page" value="50">
                </div>
            </div>

            <!-- submit -->
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary btn-outline-success">Search</button>
                </div>
            </div>
            <input type="hidden" name="category" id="category" value="all" />
            <input type="hidden" name="searchBy" id="searchBy" value="keywords" />
        </form>
    </div>
</div>

</body>
</html>