<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>View Document</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
   <script src="{{ url_for('static',filename='js/hilitor.js') }}"></script>
   <script>
      $(document).ready(function () {
         var url = new URL(window.location.href);
         var keywords = url.searchParams.get('high');
         var myHilitor = new Hilitor("content");
         myHilitor.apply(keywords);
      });
   </script>
</head>

<body>
   <div class="container" id="content">
      {{ content|safe }}
   </div>
</body>

</html>